<!DOCTYPE html>
<html>
	<head>
		<title>Box Fight!</title>
		<style>
			#screen
			{
				position: fixed;
				top: 20%;
				left: 0;
				height: 80%;
				width: 100%;
				background-color: white;
			}
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>

	<body onload = "init()">	
		<h2 id = "time">HI</h2>
		<canvas id = "screen">  </canvas>
		
		
		<script>
			var view;
			var ctx;
			var count = 0;
		
			function init()
			{
				view = document.getElementById("screen");
				view.width = 500;
				view.height = 500;
				ctx = view.getContext("2d");
				
				serverRequest();
			}
			
			function serverRequest()
			{
				$.ajax({
					url: "updateArena.php",
					data: { key: pressedKey},
					success: function(severData) 
					{	
						document.getElementById("time").innerHTML = severData;
						ctx.fillStyle = "white";
						ctx.fillRect(0, 0, view.width, view.height);
						ctx.fillStyle = "black";
						var positions = eval('(' + severData + ')');
						for(var i = 0; i < positions.length; i += 2)
							ctx.fillRect(positions[i], positions[i+1], 5, 5);
					},
					complete: function() 
					{
						pressedKey = "";
						setTimeout(serverRequest, 250);
					}
				});
			}
			
			var pressedKey = "";
			document.onkeydown = getKeyInput;
			function getKeyInput(evt) 
			{
				if(evt.keyCode == 87) pressedKey = "w";
				else if(evt.keyCode ==  65) pressedKey = "a";
				else if(evt.keyCode == 83) pressedKey = "s";
				else if(evt.keyCode == 68) pressedKey = "d";
			}
			
			
		</script>
	</body>
</html>