<!DOCTYPE html>
<html>
	<head>
		<title>Box Fight!</title>
		<link href="/css/index.css" rel = "stylesheet" type = "text/css">
	</head>

	<body>
		<h1 id = "title"> Box Fight </h1>
		<button id = "login-button" class = "button" onclick = "loginClick()">Login</button>
		<button id = "create-account-button" class = "button" onclick = "createAccountClick()">Create Account</button>
		<br>
		
		<form id = "login-form" class = "input-form" action="/login" method="POST">
			Username:<br><input type="text" name="username" ><br>
			Password:<br><input type="password" name="password"><br><br>
			<input class = "button" type="submit" value="login">
		</form>
		
		<form id = "create-account-form" class = "input-form" action="/createAccount" method="POST">
			Username:
			<br><input type="text" name="username" ><br>
			Password:
			<br><input type="password" name="password1"><br>
			Re-enter Password:
			<br><input type="password" name="password2"><br>
			<br><input class = "button" type="submit" value="Create Account">
		</form>
		
		<script>
			function loginClick()
			{
				document.getElementById("create-account-button").style.display = "inline";
				document.getElementById("login-button").style.display = "none";
				
				document.getElementById("login-form").style.display = "inline-block";
				document.getElementById("create-account-form").style.display = "none";
			}
			
			function createAccountClick()
			{
				document.getElementById("create-account-button").style.display = "none";
				document.getElementById("login-button").style.display = "inline";
			
				document.getElementById("login-form").style.display = "none";
				document.getElementById("create-account-form").style.display = "inline-block";
			}
		</script>
	</body>
</html>